main div.card-header {
    background-color: #a8c4ce;
}

#alerta {
    display: none;
}

.bg-diaria {
    background-color: #91c8dc;
}

.bg-mensual {
    background-color: #f0d38d;
}

.bg-prioridad {
    background-color: rgb(243, 112, 88);
}